<h3> Notebook contains code for preprocessing eQTL data for use in PascalX as mapperfile and BED file for open chromatin intersection.

In [3]:
import pandas as pd
from pathlib import Path

In [4]:
DATA_DIR = Path("../Data/PascalX/resources/")
eqtl_file = DATA_DIR / "sceqtlgen_all_sig_eqtls.tsv.gz"
ref_file = DATA_DIR / "1000G-30x.ref.gz"
gene_ref = DATA_DIR / "limix_annotation_strand.tsv"

In [3]:
# Load eQTL data
eqtl_df = pd.read_csv(eqtl_file, sep="\t", compression="gzip")
eqtl_df

,feature_id,ENSG,feature_chromosome,feature_start,feature_end,snp_id,snp_chromosome,snp_position,empirical_feature_p_value,beta,maf,n_samples,assessed_allele,celltype
0,XRRA1,ENSG00000166435,11,74807739,74949200,11:74767007:T:C,11,74767007,0.000000,-1.260598,NaN,2334,T,CD4_T
1,XRRA1,ENSG00000166435,11,74807739,74949200,11:74769503:T:C,11,74769503,0.000000,-1.261955,NaN,2334,T,CD4_T
2,XRRA1,ENSG00000166435,11,74807739,74949200,11:74770586:T:C,11,74770586,0.000000,-1.261985,NaN,2334,T,CD4_T
3,XRRA1,ENSG00000166435,11,74807739,74949200,11:74778024:C:T,11,74778024,0.000000,-1.265309,NaN,2334,C,CD4_T
4,XRRA1,ENSG00000166435,11,74807739,74949200,11:74783027:CAT:C,11,74783027,0.000000,-1.274424,NaN,2334,CAT,CD4_T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840604,TSGA10,ENSG00000135951,2,98997261,99154964,2:99408892:A:T,2,99408892,0.001448,0.321967,NaN,1154,A,DC
840605,PLAC8,ENSG00000145287,4,83090048,83137075,4:83221903:C:T,4,83221903,0.001448,0.108393,NaN,1154,C,DC
840606,SNCA,ENSG00000145335,4,89724099,89838315,4:89839732:C:T,4,89839732,0.001448,0.267533,NaN,1154,C,DC
840607,ITM2B,ENSG00000136156,13,48233158,48270357,13:48170992:T:C,13,48170992,0.001449,-0.231203,NaN,1154,T,DC
840608,CHPT1,ENSG00000111666,12,101696947,101744140,12:101695540:G:A,12,101695540,0.001449,-0.248349,NaN,1154,G,DC

In [4]:
# Load reference panel
ref_df = pd.read_csv(ref_file, compression="gzip", delim_whitespace=True)
ref_df

/local/1254186/ipykernel_2719024/2186973997.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  ref_df = pd.read_csv(ref_file, compression="gzip", delim_whitespace=True)

,ID,bp,str_allele1,str_allele2,CHR,allele1,allele2
0,1:10390:CCCCTAACCC:C,10390,CCCCTAACCCCTAACCCTAACCCTAACCCTAACCCTAACCCTAA,C,1,7466109476442969725,8576025794
1,1:10399:C:A,10397,C,A,1,8576025794,8320025024
2,1:10398:C:CCCCTAA,10397,C,CCCCTAA,1,8576025794,5473687031911454381
3,1:10397:CCCCTAA:C,10397,CCCCTAA,C,1,5473687031911454381,8576025794
4,1:10403:A:ACCCTAACCC,10403,A,ACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAC,1,8320025024,-9173534076493872326
...,...,...,...,...,...,...,...
51068970,rs1201024235,50807836,C,A,22,8576025794,8320025024
51068971,rs1349273304,50807841,T,G,22,10752032341,9088027334
51068972,22:50807850:A:AG,50807850,A,AG,22,8320025024,8320049985075142
51068973,22:50807851:AGGGTTCTGC:A,50807850,AGGGTTCTGCTTCGGGTTCTGTTTC,A,22,-3610744072052660815,8320025024
51068974,HGSV_248477,50808014,A,<INS>,22,8320025024,-2491357521330948397

In [5]:
merged_df = eqtl_df.merge(
    ref_df,
    left_on=['snp_chromosome', 'snp_position'],
    right_on=['CHR', 'bp'],
    how='inner'
)
merged_df

,feature_id,ENSG,feature_chromosome,feature_start,feature_end,snp_id,snp_chromosome,snp_position,empirical_feature_p_value,beta,...,n_samples,assessed_allele,celltype,ID,bp,str_allele1,str_allele2,CHR,allele1,allele2
0,XRRA1,ENSG00000166435,11,74807739,74949200,11:74767007:T:C,11,74767007,0.000000,-1.260598,...,2334,T,CD4_T,rs11236244,74767007,T,C,11,10752032341,8576025794
1,XRRA1,ENSG00000166435,11,74807739,74949200,11:74769503:T:C,11,74769503,0.000000,-1.261955,...,2334,T,CD4_T,rs4944061,74769503,T,C,11,10752032341,8576025794
2,XRRA1,ENSG00000166435,11,74807739,74949200,11:74770586:T:C,11,74770586,0.000000,-1.261985,...,2334,T,CD4_T,rs4944950,74770586,T,C,11,10752032341,8576025794
3,XRRA1,ENSG00000166435,11,74807739,74949200,11:74778024:C:T,11,74778024,0.000000,-1.265309,...,2334,C,CD4_T,rs12576129,74778024,C,T,11,8576025794,10752032341
4,XRRA1,ENSG00000166435,11,74807739,74949200,11:74783027:CAT:C,11,74783027,0.000000,-1.274424,...,2334,CAT,CD4_T,rs34895688,74783027,CAT,C,11,-1658743042924269169,8576025794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840644,TSGA10,ENSG00000135951,2,98997261,99154964,2:99408892:A:T,2,99408892,0.001448,0.321967,...,1154,A,DC,rs7601730,99408892,A,T,2,8320025024,10752032341
840645,PLAC8,ENSG00000145287,4,83090048,83137075,4:83221903:C:T,4,83221903,0.001448,0.108393,...,1154,C,DC,rs6820693,83221903,C,T,4,8576025794,10752032341
840646,SNCA,ENSG00000145335,4,89724099,89838315,4:89839732:C:T,4,89839732,0.001448,0.267533,...,1154,C,DC,rs894280,89839732,C,T,4,8576025794,10752032341
840647,ITM2B,ENSG00000136156,13,48233158,48270357,13:48170992:T:C,13,48170992,0.001449,-0.231203,...,1154,T,DC,rs9534975,48170992,T,C,13,10752032341,8576025794
840648,CHPT1,ENSG00000111666,12,101696947,101744140,12:101695540:G:A,12,101695540,0.001449,-0.248349,...,1154,G,DC,rs2695284,101695540,G,A,12,9088027334,8320025024

Looks like there are a couple mismatches, first row shows 5 for CHR column, and 11 for the feature_chromosome column. Likely an indication of different chromosome builds.

In [6]:
# Filter HLA region
merged_df = merged_df[~(
    (merged_df["feature_chromosome"] == 6) &
    (merged_df["feature_start"] >= 25_000_000) &
    (merged_df["feature_end"] <= 35_000_000)
)]
merged_df

,feature_id,ENSG,feature_chromosome,feature_start,feature_end,snp_id,snp_chromosome,snp_position,empirical_feature_p_value,beta,...,n_samples,assessed_allele,celltype,ID,bp,str_allele1,str_allele2,CHR,allele1,allele2
0,XRRA1,ENSG00000166435,11,74807739,74949200,11:74767007:T:C,11,74767007,0.000000,-1.260598,...,2334,T,CD4_T,rs11236244,74767007,T,C,11,10752032341,8576025794
1,XRRA1,ENSG00000166435,11,74807739,74949200,11:74769503:T:C,11,74769503,0.000000,-1.261955,...,2334,T,CD4_T,rs4944061,74769503,T,C,11,10752032341,8576025794
2,XRRA1,ENSG00000166435,11,74807739,74949200,11:74770586:T:C,11,74770586,0.000000,-1.261985,...,2334,T,CD4_T,rs4944950,74770586,T,C,11,10752032341,8576025794
3,XRRA1,ENSG00000166435,11,74807739,74949200,11:74778024:C:T,11,74778024,0.000000,-1.265309,...,2334,C,CD4_T,rs12576129,74778024,C,T,11,8576025794,10752032341
4,XRRA1,ENSG00000166435,11,74807739,74949200,11:74783027:CAT:C,11,74783027,0.000000,-1.274424,...,2334,CAT,CD4_T,rs34895688,74783027,CAT,C,11,-1658743042924269169,8576025794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840644,TSGA10,ENSG00000135951,2,98997261,99154964,2:99408892:A:T,2,99408892,0.001448,0.321967,...,1154,A,DC,rs7601730,99408892,A,T,2,8320025024,10752032341
840645,PLAC8,ENSG00000145287,4,83090048,83137075,4:83221903:C:T,4,83221903,0.001448,0.108393,...,1154,C,DC,rs6820693,83221903,C,T,4,8576025794,10752032341
840646,SNCA,ENSG00000145335,4,89724099,89838315,4:89839732:C:T,4,89839732,0.001448,0.267533,...,1154,C,DC,rs894280,89839732,C,T,4,8576025794,10752032341
840647,ITM2B,ENSG00000136156,13,48233158,48270357,13:48170992:T:C,13,48170992,0.001449,-0.231203,...,1154,T,DC,rs9534975,48170992,T,C,13,10752032341,8576025794
840648,CHPT1,ENSG00000111666,12,101696947,101744140,12:101695540:G:A,12,101695540,0.001449,-0.248349,...,1154,G,DC,rs2695284,101695540,G,A,12,9088027334,8320025024

In [7]:
mapper_df = merged_df[["ID", "ENSG", "feature_id", "empirical_feature_p_value"]].rename(columns={
    "ENSG": "ENSG",
    "ID": "rsID",
    "feature_id": "gene_symbol",
    "empirical_feature_p_value" : "pval" 
})

mapper_df

              rsID             ENSG gene_symbol      pval
0       rs11236244  ENSG00000166435       XRRA1  0.000000
1        rs4944061  ENSG00000166435       XRRA1  0.000000
2        rs4944950  ENSG00000166435       XRRA1  0.000000
3       rs12576129  ENSG00000166435       XRRA1  0.000000
4       rs34895688  ENSG00000166435       XRRA1  0.000000
...            ...              ...         ...       ...
840644   rs7601730  ENSG00000135951      TSGA10  0.001448
840645   rs6820693  ENSG00000145287       PLAC8  0.001448
840646    rs894280  ENSG00000145335        SNCA  0.001448
840647   rs9534975  ENSG00000136156       ITM2B  0.001449
840648   rs2695284  ENSG00000111666       CHPT1  0.001449

[705726 rows x 4 columns]

In [8]:
gr_df = pd.read_csv(gene_ref, sep="\t")
print(gr_df)
# Find the overlap between ENSG values in both DataFrames
overlap = mapper_df["ENSG"].isin(gr_df["ENSG"])

# Count how many overlap
num_overlap = overlap.sum()

print(f"Number of overlapping ENSG entries: {num_overlap}")

        feature_id chromosome  start     end             ENSG         biotype  \
0      MIR1302-2HG          1  29554   31109  ENSG00000243485         lincRNA
1          FAM138A          1  34554   36081  ENSG00000237613         lincRNA
2            OR4F5          1  65419   71585  ENSG00000186092  protein_coding
3       AL627309.1          1  89295  133723  ENSG00000238009         lincRNA
4       AL627309.3          1  89551   91105  ENSG00000239945         lincRNA
...            ...        ...    ...     ...              ...             ...
33456      MT-ND4L         MT  10470   10766  ENSG00000212907  protein_coding
33457       MT-ND4         MT  10760   12137  ENSG00000198886  protein_coding
33458       MT-ND5         MT  12337   14148  ENSG00000198786  protein_coding
33459       MT-ND6         MT  14149   14673  ENSG00000198695  protein_coding
33460       MT-CYB         MT  14747   15887  ENSG00000198727  protein_coding

       Strand
0           1
1          -1
2           1
3           1
4          -1
...       ...
33456       1
33457       1
33458       1
33459      -1
33460       1

[33461 rows x 7 columns]
Number of overlapping ENSG entries: 705726

In [9]:
mapper_df["gene_symbol"].value_counts()

gene_symbol
TSGA10      3637
TIMM10      2697
BORCS7      2653
ERAP2       2418
C2orf74     2413
            ...
DYM            1
EXD2           1
EIF3C          1
FBXO15         1
C9orf163       1
Name: count, Length: 6499, dtype: int64

In [10]:
len(mapper_df["rsID"].unique())

266932

In [17]:
mapper_file = DATA_DIR / "gwas_eqtl_intersect.tsv"
mapper_df.to_csv(mapper_file, sep="\t", index=False)

<h2> Create BED file for intersecting with open chromatin</h2>

In [14]:
bed_dir = "../Data/ATAC/unmapped_snps"
bed_file = bed_dir + "/eqtls.bed"

merged_df["snp_position+1"] = (merged_df["snp_position"] + 1).copy()
bed_df = merged_df[[ "snp_chromosome", "snp_position", "snp_position+1", "ID",  "ENSG", "feature_id"]]

bed_df["snp_chromosome"] = bed_df["snp_chromosome"].astype(int)
bed_df["snp_position"] = bed_df["snp_position"].astype(int)
bed_df["snp_position+1"] = bed_df["snp_position+1"].astype(int)

bed_df.to_csv(bed_file, sep="\t", index=False, header=False)

/local/1254186/ipykernel_2719024/758361667.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["snp_position+1"] = (merged_df["snp_position"] + 1).copy()
/local/1254186/ipykernel_2719024/758361667.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bed_df["snp_chromosome"] = bed_df["snp_chromosome"].astype(int)
/local/1254186/ipykernel_2719024/758361667.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bed_df["snp_position"] = bed_df["snp_position"].astype(int)
/local/1254186/ipykernel_2719024/758361667.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bed_df["snp_position+1"] = bed_df["snp_position+1"].astype(int)

<h2>Create permutation control files (DEPRECATED) </h2>

In [7]:
# Load mapperdata
all_eqtls = pd.read_csv("../Data/PascalX/mapperfiles/gwas_eqtl_intersect.tsv", sep="\t") 
oc_eqtls = pd.read_csv("../Data/PascalX/mapperfiles/gwas_eqtl_oc_intersect.tsv", sep="\t")

In [28]:
all_eqtls

              rsID             ENSG gene_symbol      pval
0       rs11236244  ENSG00000166435       XRRA1  0.000000
1        rs4944061  ENSG00000166435       XRRA1  0.000000
2        rs4944950  ENSG00000166435       XRRA1  0.000000
3       rs12576129  ENSG00000166435       XRRA1  0.000000
4       rs34895688  ENSG00000166435       XRRA1  0.000000
...            ...              ...         ...       ...
705721   rs7601730  ENSG00000135951      TSGA10  0.001448
705722   rs6820693  ENSG00000145287       PLAC8  0.001448
705723    rs894280  ENSG00000145335        SNCA  0.001448
705724   rs9534975  ENSG00000136156       ITM2B  0.001449
705725   rs2695284  ENSG00000111666       CHPT1  0.001449

[705726 rows x 4 columns]

In [ ]:
for ensg in all_eqtls.ENSG.unique():
    df = pd.DataFrame(["ENSG", "nsnps"])
    df["ENSG"] = ensg
    df["nsnps"] = len(all_eqtls[all_eqtls.ENSG == ensg])

In [ ]:
import hashlib


def ensg_to_seed(ensg):
    return int(hashlib.sha256(ensg.encode()).hexdigest(), 16) % (2**32)  # 32-bit seed

mapper_file = {user_input} 
ref_file = {user_input}
summ_stats = {user_input}

mapper_df = pd.read_csv(mapper_file, sep="\t")
ref_df = pd.read_csv(ref_file, sep="\t")
summ_stats_df = pd.read_csv("sumstats.tsv.gz", sep="\t", usecols=["chromosome", "bp", "variant"])

# Parameters
base_window = 10_000
eqtl_window = 500_000

# Exlude base window 
eqtl_window -= base_window

# Initialize permutation mapper df
perm_df = pd.DataFrame(["rsid", "ENSG"])   

# Loop through unique ENSG
for ensg in mapper_df.ENSG.unique():
    # Get gene transcription start and end from ref file
    start, end, chrom = ref_df.loc[ref_df.ENSG == ensg, ["start", "end", "chromosome"]].values[0]
    
    # Exclude base window
    start -= base_window
    end += base_window
    
    # Calc up and downstream windows
    up_start, up_end = start - eqtl_window, start
    dwn_start, dwn_end = end, end + eqtl_window

    # Filter candidate variants from GWAS summary statistics
    candidate_snps = summ_stats_df["variant"][
        (summ_stats_df["chromosome"] == chrom) &
        (
            ((summ_stats_df["bp"] >= up_start) & (summ_stats_df["bp"] <= up_end)) |
            ((summ_stats_df["bp"] >= dwn_start) & (summ_stats_df["bp"] <= dwn_end))
        )
    ]

    candidate_snps = candidate_snps.tolist()
    
    n_eqtls = len(mapper_df[mapper_df.ENSG == ensg])
    
    # Sample random SNPs (for null model)
    n_to_sample = min(n_eqtls, len(candidate_snps))
    sampled_snps = candidate_snps.sample(n=n_to_sample, replace=False, random_state=ensg_to_seed(ensg))

# The naming of the bed files is incorrect, they are not intersected with GWAS idiot